# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# Эти настройки влияют только на клиент, который использует модификации.
##########################################################################################################

clientonly {
    # Воспроизводить звук при экипировке портал-пушки?
    I:equipItemSound=1

    # Включить рендеринг порталов с шейдерами?
    # 
    # Если ваш ПК не поддерживает это, шейдеры не будут использоваться, даже если опция включена.
    I:fancyPortals=1

    # Размер индикатора вокруг перекрестия при удержании портал-пушки.
    # Значение в процентах
    # 0 для отключения.
    I:portalgunIndicatorSize=28

    # Включить рендеринг для обзора сквозь порталы?
    # 
    # Если ваш ПК не поддерживает это, вы не сможете видеть сквозь порталы, даже если опция включена.
    I:seeThroughPortals=0
}


##########################################################################################################
# keybind
#--------------------------------------------------------------------------------------------------------#
# Если Вы читаете это, я бы настоятельно рекомендовал изменить настройки клавиш в игре.\niChunUtil использует нестандартные настройки. Нажмите в настройках клавишу O, чтобы увидеть другие настройки.\n\nЕсли вам действительно нужно отредактировать файл конфигурации, формат <key code>, и добавьте ":SHIFT", ":CTRL", или ":ALT", для назначения кнопок, которые Вы хотите удерживать.\nДля уточнения кодов клавиш перейдите на : http://minecraft.gamepedia.com/Key_codes \nПример: 48:SHIFT:ALT привяжется к клавише B при нажатии Shift и Alt.
##########################################################################################################

keybind {
}


##########################################################################################################
# portalgun
#--------------------------------------------------------------------------------------------------------#
# Параметры конфигурации, связанные с использованием портал-пушки
##########################################################################################################

portalgun {
    # Может ли снаряд, выпущенный портал-пушкой, проходить сквозь стекло?
    I:canFireThroughGlass=1

    # Может ли снаряд, выпущенный портал-пушкой, проходить сквозь жидкости?
    I:canFireThroughLiquid=1

    # Может ли снаряд портала (который вы стреляете из портал-пушки) загружать чанки?
    # Отключение может вызвать проблемы.
    I:canPortalProjectilesChunkload=0

    # Может ли портал, созданный из снаряда, уменьшаться, если полный размер не помещается?
    I:canPortalsResizeWhenCreated=1

    # Базовый вес, который портал-пушка может поднять, в процентах (%)
    # Установите 0 для отключения захвата блоков и сущностей, не относящихся к этому моду.
    I:entityGrabWeightBase=100

    # Максимальная дистанция выстрела порталов из портал-пушки.
    I:maxShootDistance=512
}


