$ info
assets
chooser_0.png
crafttweaker.log
crash-reports
dropt.log
gitgen.py
hei_bookmarks.ini
hei_favorites.ini
hotbar.nbt
hs_err_pid28912.log
jei_bookmarks.ini
local
logs
mobs_0.png
OpenComputersMod-1.8.9a-52-libjnlua52-windows-x86_64.dll
OpenComputersMod-1.8.9a-53-libjnlua53-windows-x86_64.dll
OpenComputersMod-1.8.9a-54-libjnlua54-windows-x86_64.dll
patchouli_data.json
pings_0.png
replay_pid28912.log
saves
screenshots
server-resource-packs
servers.dat
servers.dat.bak
snapshots-server
tv-cache
usercache.json
usernamecache.json
vintagefix
voxelmap
WailaErrorOutput.txt
waypoints_0.png
XaeroWaypoints_BACKUP240807
mods/$ debug
mods/memory_repo
mods/1.12.2
mods/OpenSecurity