# Configuration file

general {
    B:"Use Vanilla Creative Tabs"=true

    "update aquatic" {
        B:"Blue Ice"=true
        B:"Nautilus Shell"=true

        # Disables ocean features in Future MC if Oceanic Expanse is loaded and has equivalent features.
        B:"Oceanic Expanse Compatibility"=false
        B:Trident=false

        fish {
            B:"Invalid Biome Messages"=false

            cod {
                B:Enabled=true
                S:"Valid Biomes" <
                    minecraft:frozen_ocean:15:3:6
                    minecraft:ocean:10:3:6
                    minecraft:deep_ocean:10:3:6
                 >
            }

            pufferfish {
                B:Enabled=true
                S:"Valid Biomes" <
                    minecraft:deep_ocean:5:1:3
                 >
            }

            salmon {
                B:Enabled=true
                S:"Valid Biomes" <
                    minecraft:frozen_ocean:15:1:5
                    minecraft:deep_ocean:15:1:5
                    minecraft:river:5:1:5
                    minecraft:frozen_river:5:1:5
                 >
            }

            "tropical fish" {
                B:Enabled=true
                S:"Valid Biomes" <
                    minecraft:deep_ocean:25:8:8
                 >
            }

        }

        "stripped logs" {
            B:Acacia=true
            B:Birch=true
            B:"Dark Oak"=true
            B:Jungle=true
            B:Oak=true
            B:"Right click to strip"=true
            B:Spruce=true
        }

        wood {
            B:Acacia=true
            B:Birch=true
            B:"Dark Oak"=true
            B:Jungle=true
            B:Oak=true
            B:Spruce=true
            B:"Stripped Acacia"=true
            B:"Stripped Birch"=true
            B:"Stripped Dark Oak"=true
            B:"Stripped Jungle"=true
            B:"Stripped Oak"=true
            B:"Stripped Spruce"=true
        }

    }

    "village & pillage" {
        B:Barrel=true
        B:Bell=true
        B:"Blast Furnace"=false
        B:Composter=true
        B:Dyes=false
        B:"Fletching Table"=true
        B:Lantern=true
        B:"New Villager Gui Screen"=true
        B:Panda=true
        B:Scaffolding=true
        B:Smoker=false
        B:"Smooth Quartz"=true
        B:"Smooth Stone"=true
        B:"Suspicious Stew"=true

        bamboo {
            B:Enabled=true
            B:"Tight Bounding Box"=false
        }

        campfire {
            B:"Does Damage"=true
            B:Enabled=true
            B:Functionality=true
        }

        "cartography table" {
            B:Enabled=true
            B:Functionality=true
        }

        cornflower {
            B:Enabled=true
            D:"Spawn Rate"=0.46408841013908386
        }

        grindstone {
            B:Enabled=true
            B:Functionality=true
        }

        "lily of the valley" {
            B:Enabled=true
            D:"Spawn Rate"=0.5
        }

        loom {
            B:Enabled=true
            B:Functionality=true
        }

        "new trapdoors" {
            B:Acacia=true
            B:Birch=true
            B:"Dark Oak"=true
            B:Jungle=true
            B:Spruce=true
        }

        "new signs" {
            B:Acacia=true
            B:Birch=true
            B:"Dark Oak"=true
            B:Jungle=true
            B:Spruce=true
        }

        "new walls" {
            B:Andesite=true
            B:Brick=true
            B:Diorite=true
            B:Granite=true
            B:"Mossy Stone"=true
            B:"Nether Brick"=true
            B:"Red Nether Brick"=true
            B:"Red Sandstone"=true
            B:Sandstone=true
            B:"Stone Brick"=true
        }

        "smithing table" {
            B:Enabled=true
            B:Functionality=true
        }

        stonecutter {
            B:Enabled=true
            B:Functionality=true
            B:"Recipe Button"=true
        }

        "berry bush" {
            B:Enabled=true
            D:"Spawn Rate"=0.31491711735725403
            B:"Spawn with Berries"=false
        }

        "wither rose" {
            B:"Does Damage"=true
            B:Enabled=true
        }

    }

    "buzzy bees" {
        S:"Bee Nest Biome Spawns" <
            minecraft:plains:0.05
            minecraft:sunflower_plains:0.05
            minecraft:mutated_forest:0.02
            minecraft:forest:0.002
            minecraft:forest_hills:0.002
            minecraft:birch_forest:0.002
            minecraft:mutated_birch_forest:0.002
            minecraft:birch_forest_hills:0.002
            minecraft:mutated_birch_forest_hills:0.002
         >
        B:"Honeycomb Block"=true

        bee {
            B:Enabled=true
        }

        "honey block" {
            B:Enabled=true
        }

        "iron golem" {
            B:Crack=true
            B:"Healing with Iron Ingots"=true
        }

    }

    "nether update" {
        B:Chain=true
        B:"Game Mode Switcher"=true
        B:Netherite=true
        B:Pigstep=true
        B:"Snow Golem Shearing"=true
        B:"Soul Fire Lantern"=true
        B:"Soul Fire Torch"=true
        B:"Soul Soil"=true

        "ancient debris" {

            "vein 1 (normal)" {
                B:Enabled=true
                I:"Maximum Y level"=120
                I:"Minimum Y level"=12
                I:Size=2
                I:"Vein count"=1
            }

            "vein 2 (lapis-style)" {
                I:Baseline=16
                B:Enabled=false
                I:Size=3
                I:Spread=8
                I:"Vein count"=1
            }

        }

        blackstone {
            B:Enabled=true

            generation {
                B:Enabled=true
                I:"Maximum Y level"=96
                I:"Minimum Y level"=16
                I:Size=12
                I:"Vein count"=1
            }

        }

    }

    "caves & cliffs" {
        B:otherside=true
    }

}


