# Configuration file

##########################################################################################################
# ai
#--------------------------------------------------------------------------------------------------------#
# Settings regarding custom ai for mobs
##########################################################################################################

ai {
    # List for of pairs containing which mobs auto target others. Syntax is [mob id]-[mob id or class name] where second value is the target.
    #  e.g. minecraft:zombie-minecraft:skeleton makes all zombies target skeletons [default: ]
    S:"Auto Target List" <
     >

    # Whitelist for blocks, which can be actively broken. Usage: <registry name;classname;oredict> put "!" infront to exclude blocks [default: [minecraft:glass], [minecraft:stained_glass], [minecraft:fence_gate], [BlockDoor], [!minecraft:iron_door], [minecraft:glass_pane], [minecraft:stained_glass_pane]]
    S:"Block Whitelist" <
        minecraft:glass
        minecraft:stained_glass
        minecraft:fence_gate
        BlockDoor
        !minecraft:iron_door
        minecraft:glass_pane
        minecraft:stained_glass_pane
        BlockLeaves
        BlockPlanks
        minecraft:crafting_table
        minecraft:farmland
        minecraft:reeds
     >

    # Treat Block Whitelist as Blocklist [default: false]
    B:"Block as Blacklist"=false

    # Should mobs be able to break tile entities? Evaluated before the break list [default: true]
    B:"Break Tiles"=false

    # Chance for a mob to be able to break blocks. [range: 0.0 ~ 1.0, default: 0.3]
    S:"Breaker Chance"=0.2

    # Item which will be given to mobs who can break blocks. Set to nothing to not give any items. [default: minecraft:diamond_pickaxe]
    S:"Breaking item"=minecraft:iron_pickaxe

    # Difficulty at which mobs are able to break blocks[default: 0.0]
    D:"Difficulty Break AI"=20.0

    # Difficulty at which mobs are able to steal items[default: 0.0]
    D:"Difficulty Steal AI"=50.0

    # Chance for neutral mobs to be aggressive [range: 0.0 ~ 1.0, default: 0.2]
    S:"Neutral Aggressive Chance"=0.15

    # Delay for the coroutil repair block. Coroutil integration needs to be enabled.
    I:"Repair Ticks"=500

    # Use the block breaking sound instead of a knocking sound [default: false]
    B:Sound=true

    # Chance for a mob to be able to steal items. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Stealer Chance"=0.1
}


##########################################################################################################
# attributes
#--------------------------------------------------------------------------------------------------------#
# Settings for attribute modifiers
##########################################################################################################

attributes {
    # Damage will be multiplied by difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Damage Increase Multiplier"=5.0

    # Health will be multiplied by difficulty*0.016*x. Set to 0 to disable.[default: 1.0]
    D:"Health Increase Multiplier"=2.1

    # Knockback will be increased by difficulty*0.002*x. Set to 0 to disable.[default: 1.0]
    D:"Knockback Increase"=0.2

    # Magic resistance will be increased by difficulty*0.0016*x. Set to 0 to disable.[default: 1.0]
    D:"Magic Resistance Increase"=2.1

    # Damage will be multiplied by at maximum this. Set to 0 means no limit. [default: 3.0]
    D:"Max Damage Increase"=10.0

    # Health will be multiplied by at maximum this. Set to 0 means no limit[default: 5.0]
    D:"Max Health Increase"=10.0

    # Maximum increase in knockback. [range: 0.0 ~ 1.0, default: 0.5]
    S:"Max Knockback"=0.5

    # Maximum increase in magic resistance. Magic reduction is percentage [range: 0.0 ~ 1.0, default: 0.4]
    S:"Max Magic Resistance"=0.5

    # Projectile damage will be multiplied by maximum of this.[default: 2.0]
    D:"Max Projectile Damage"=10.0

    # Maximum increase in speed. [range: 0.0 ~ 1.0, default: 0.1]
    S:"Max Speed"=0.108

    # Projectile Damage will be multiplied by 1+difficulty*0.008*x. Set to 0 to disable.[default: 1.0]
    D:"Projectile Damage Increase"=5.0

    # Round health to the nearest x. Set to 0 to disable.[default: 0.5]
    D:"Round HP"=0.5

    # Speed will be increased by difficulty*0.0008*x. Set to 0 to disable.[default: 1.0]
    D:"Speed Increase"=0.64
}


##########################################################################################################
# debug
#--------------------------------------------------------------------------------------------------------#
# Debugging
##########################################################################################################

debug {
    # Enable showing of entity paths (might/will cause lag) [default: false]
    B:"Path Debugging"=false
}


##########################################################################################################
# equipment
#--------------------------------------------------------------------------------------------------------#
# Configs regarding mobs spawning with equipment
##########################################################################################################

equipment {
    # Base chance for each additional armor pieces [range: 0.0 ~ 1.0, default: 0.3]
    S:"Additional Equipment Chance"=0.4

    # Adds additional x*difficulty% to base enchanting chance[default: 0.3]
    D:"Enchanting Addition"=0.28

    # Base chance for each armor pieces to get enchanted. [range: 0.0 ~ 1.0, default: 0.2]
    S:"Enchanting Chance"=0.21

    # Adds additional x*difficulty% to base equip chance[default: 0.3]
    D:"Equipment Addition"=0.3

    # Base chance that a mob can have one piece of armor [range: 0.0 ~ 1.0, default: 0.1]
    S:"Equipment Chance"=0.1

    # Blacklist for mods. Add modid to prevent items from that mod being used. (For individual items use the equipment.json) [default: ]
    S:"Item Blacklist" <
     >

    # Adds additional x*difficulty% to base item chance[default: 0.2]
    D:"Item Chance add"=0.12

    # Chance for mobs to have an item in offhand. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Item Equip Chance"=0.06

    # Use blacklist as whitelist [default: false]
    B:"Item Whitelist"=false

    # Should mobs drop the armor equipped through this mod? (Other methods e.g. through vanilla is not included) [default: false]
    B:"Should drop equipment"=false

    # Chance for mobs to have a weapon. [range: 0.0 ~ 1.0, default: 0.05]
    S:"Weapon Chance"=0.20

    # Adds additional x*difficulty% to base weapon chance[default: 0.3]
    D:"Weapon Chance Add"=0.32
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# With default value every difficulty perk maxes out at difficulty 250
##########################################################################################################

general {
    # Time in ticks for which the difficulty shouldnt increase at the beginning. One full minecraft day is 24000 ticks[min: 0, default: 0]
    I:"Difficulty Delay"=0

    # Disable/Enables the whole difficulty scaling of this mod
    B:"Enable difficulty scaling"=true

    # Disable/Enable friendly fire for owned pets. [default: false]
    B:FriendlyFire=false

    # Wether difficulty should only increase with at least one online players or not [default: false]
    B:"Ignore Players"=false

    # Light level, blocks can have at max, so mobs can spawn on them. [range: 0 ~ 15, default: 7]
    I:Light=7

    # Mobs to include for the new light spawning rules. [default: ]
    S:"Light list" <
     >

    # Turn the list list whitelist to blacklist [default: false]
    B:"Light list blacklist"=false

    # Blacklist for pet you should't be able to give armor to. Pets from mods, which have custom armor should be included here. [default: ]
    S:"Pet Blacklist" <
     >

    # Treat pet blacklist as whitelist [default: false]
    B:"Pet Whitelist"=false

    # Should punish time skipping with e.g. bed, commands? If false, difficulty will increase by 0.1 regardless of skipped time. [default: true]
    B:"Punish Time Skip"=true
}


##########################################################################################################
# gui
#--------------------------------------------------------------------------------------------------------#
# Gui Configs
##########################################################################################################

gui {
    # Textformatting codes for the display of the difficulty
    # Valid values:
    # BLACK
    # DARK_BLUE
    # DARK_GREEN
    # DARK_AQUA
    # DARK_RED
    # DARK_PURPLE
    # GOLD
    # GRAY
    # DARK_GRAY
    # BLUE
    # GREEN
    # AQUA
    # RED
    # LIGHT_PURPLE
    # YELLOW
    # WHITE
    S:"Difficulty color"=RED
    I:"Gui X"=2
    I:"Gui Y"=10

    # Scaling of the difficulty text [range: 0.0 ~ 5.0, default: 1.0]
    S:"Text Scale"=1.05
}


##########################################################################################################
# integration
#--------------------------------------------------------------------------------------------------------#
# Settings for mod integration
##########################################################################################################

integration {
    # Should the coroutils repair block be used. (Requires coroutils mod)
    B:"Use CoroUtils Mod"=false

    # Should mobs be able to use weapons from the reforged mod. (Requires reforged mod)
    B:"Use Reforged Mod"=false

    # Should the scaling health mods difficulty system be used instead of this ones. (Requires scaling health mod)
    B:"Use Scaling Health Mod"=true

    # Should mobs be able to use techguns weapons. (Requires techguns mod)
    B:"Use Techguns Mod"=true
}


##########################################################################################################
# list
#--------------------------------------------------------------------------------------------------------#
# Black/Whitelist for various stuff
##########################################################################################################

list {
    # Treat ARMOR flags as whitelist [default: false]
    B:"Armor Equip Whitelist"=false

    # Treat ATTRIBUTES flags as whitelist [default: false]
    B:"Attribute Whitelist"=false

    # Treat SWIMMRIDE flags as whitelist [default: false]
    B:"Boat Whitelist"=true

    # Treat BLOCKBREAK flags as whitelist [default: false]
    B:"Breaker Whitelist"=false

    # Treat HELDITEMS flags as whitelist [default: false]
    B:"Held Equip Whitelist"=false

    # Treat USEITEM flags as whitelist [default: false]
    B:"Item Use Whitelist"=false

    # Treat LADDER flags as whitelist [default: false]
    B:"Ladder Whitelist"=false

    # By default the mod only modifies EntityMobs. Add other entities here if you want to apply modifications to them. Usage: <entity registry name> followed by any of:
    # [ALL,ATTRIBUTES,ARMOR,HELDITEMS,BLOCKBREAK,USEITEM,LADDER,STEAL,SWIMMRIDE,TARGETVILLAGER,REVERSE].
    # Leave empty to apply them all and REVERSE to reverse all flags. Some flags do nothing for certain mobs!
    # example: minecraft:sheep|REVERSE|ATTRIBUTES will add sheep to attributes modification (since default is a blacklist)
    # or minecraft:sheep|ATTRIBUTES will add sheep to everything except attributes
    #  [default: [futuremc:tropical_fish], [oe:tropical_fish], [mocreatures:fly], [mocreatures:mole], [why:erza], [mocreatures:bunny], [oe:pufferfish], [betteranimalsplus:goose], [mocreatures:angler], [mocreatures:bee], [why:nami], [mocreatures:blackbear], [mocreatures:komododragon], [mocreatures:jellyfish], [mocreatures:cod], [betteranimalsplus:kermodebear], [minecraft:horse], [minecraft:polar_bear], [why:aqua], [why:hinata], [betteranimalsplus:bobbit_worm], [minecraft:pig], [minecraft:llama], [mocreatures:clownfish], [minecraft:sheep], [why:leone], [minecraft:ender_dragon], [testdummy:dummy], [why:mikasa], [draconicevolution:chaosguardian], [betteranimalsplus:nautilus], [minecraft:snowman], [quark:foxhound], [mocreatures:firefly], [mocreatures:kitty], [futuremc:salmon], [minecraft:villager_golem], [mocreatures:petscorpion], [minecraft:donkey], [mocreatures:raccoon], [oe:glow_squid], [betteranimalsplus:eel_freshwater], [minecraft:squid], [minecraft:skeleton_horse], [betteranimalsplus:walrus], [why:cc], [minecraft:cow], [mocreatures:kittybed], [mocreatures:tiger], [why:orihime], [oe:dolphin], [galacticraftplanets:slimeling], [galacticraftcore:astro_wolf], [betteranimalsplus:moose], [why:yorforger], [mocreatures:boar], [mocreatures:leoger], [betteranimalsplus:badger], [why:varelt], [betteranimalsplus:fox], [techguns:turret], [why:mita], [mocreatures:grasshopper], [mocreatures:mantaray], [mocreatures:panthard], [mocreatures:wildhorse], [mocreatures:panthger], [minecraft:shulker], [minecraft:mooshroom], [minecraft:villager], [oe:baby_glow_squid], [oe:crab], [betteranimalsplus:eel_saltwater], [minecraft:rabbit], [betteranimalsplus:shark], [why:akame], [mocreatures:goat], [mocreatures:lion], [betteranimalsplus:turkey], [mocreatures:shark], [betteranimalsplus:deer], [mocreatures:wildpolarbear], [mocreatures:butterfly], [why:albedo], [futuremc:panda], [mocreatures:ent], [galacticraftcore:alien_villager], [mocreatures:mouse], [futuremc:cod], [minecraft:parrot], [mocreatures:egg], [betteranimalsplus:feralwolf], [quark:archaeologist], [mocreatures:crocodile], [mocreatures:cricket], [why:megumin], [why:power], [minecraft:bat], [mocreatures:pandabear], [mocreatures:manticorepet], [mocreatures:goldfish], [futuremc:bee], [why:rem], [betteranimalsplus:crab], [betteranimalsplus:horseshoecrab], [futuremc:pufferfish], [mocreatures:grizzlybear], [mocreatures:turtle], [mocreatures:fox], [mocreatures:hippotang], [mocreatures:fishy], [mocreatures:elephant], [mocreatures:filchlizard], [mocreatures:ant], [why:shinobu], [mocreatures:dolphin], [mocreatures:maggot], [why:frieren], [betteranimalsplus:hirschgeist], [mocreatures:lither], [mocreatures:piranha], [betteranimalsplus:coyote], [betteranimalsplus:squirrel], [oe:baby_squid], [oe:cod], [mocreatures:angelfish], [mocreatures:panther], [mocreatures:bass], [mocreatures:leopard], [coroutil:bat_smart], [betteranimalsplus:songbird], [minecraft:mule], [quark:leash_knot], [techguns:attackhelicopter], [mocreatures:liard], [mocreatures:stingray], [mocreatures:liger], [betteranimalsplus:pheasant], [galacticraftcore:evolved_boss_ghast], [betteranimalsplus:boar], [minecraft:zombie_horse], [mocreatures:litterbox], [mocreatures:wyvern], [mocreatures:deer], [mocreatures:snake], [why:kallen], [mocreatures:turkey], [mocreatures:anchovy], [betteranimalsplus:jellyfish], [mocreatures:duck], [mocreatures:snail], [oe:salmon], [mocreatures:bird], [mocreatures:dragonfly], [mocreatures:manderin], [why:virusr], [oe:lobster], [betteranimalsplus:lammergeier], [mocreatures:salmon], [betteranimalsplus:goat], [mocreatures:roach], [minecraft:ocelot], [oe:clam], [minecraft:chicken], [mocreatures:crab], [minecraft:wolf], [betteranimalsplus:reindeer], [betteranimalsplus:lamprey], [betteranimalsplus:whale], [mocreatures:ostrich]]
    S:"More Entities" <
        minecraft:villager_golem|ATTRIBUTES
        minecraft:skeleton_horse|ATTRIBUTES
        minecraft:shulker|ATTRIBUTES
        minecraft:zombie_horse|ATTRIBUTES
     >

    # Treat STEAL flags as whitelist [default: false]
    B:"Steal Whitelist"=false

    # Treat TARGETVILLAGER flags as whitelist [default: false]
    B:"Villager Whitelist"=true
}


