# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Дополнительные настройки функций HEI.
##########################################################################################################

advanced {
    S:itemBlacklist <
     >
}


