# Configuration file

astro_tech {
    # AstroTech Environment (y/n)
    B:AstroTech_Environment=true

    # Enable Progression System (y/n)
    B:EnableProgressionSystem=true
}


"game mechanics" {
    # More realistic conditions for destruction of blocks
    S:Enable_RealisticBreak=true

    # Prohibit the player from breaking the QM_block
    S:QM_is_fully_unbreakable=true
}


generation {
    # Enable bush generation in Overworld (y/n)
    S:Enable_Bushes=true

    # Enable Forest Villages generation (y/n)
    S:Enable_ForestVillages=true

    # Enable Ground elements generation (y/n)
    S:Enable_Ground_Elements=true

    # Enable Snow Villages generation (y/n)
    B:Enable_SnowVillages=true

    # Enable Overworld Minerals Generation (y/n)
    S:Overworld_Minerals_Generation=true

    # Enable Overworld Quartz Generation (y/n)
    B:Overworld_Quartz_Generation=true

    # Number of attempts to generate an element (double num) [default: 0.3]
    S:Rock_Gen_Attempts=0.35

    # List of biome IDs (e.g., minecraft:plains) where rocks generate. Empty list uses default biomes.
    S:Rock_Gen_Biomes <
        minecraft:plains
        minecraft:extreme_hills
        minecraft:forest
        minecraft:taiga
        minecraft:river
        minecraft:beaches
        minecraft:forest_hills
        minecraft:taiga_hills
        minecraft:smaller_extreme_hills
        minecraft:jungle
        minecraft:jungle_hills
        minecraft:jungle_edge
        minecraft:stone_beach
        minecraft:birch_forest
        minecraft:birch_forest_hills
        minecraft:roofed_forest
        minecraft:redwood_taiga
        minecraft:redwood_taiga_hills
        minecraft:extreme_hills_with_trees
        minecraft:savanna
        minecraft:savanna_rock
        minecraft:mutated_plains
        minecraft:mutated_extreme_hills
        minecraft:mutated_forest
        minecraft:mutated_taiga
        minecraft:mutated_swampland
        minecraft:mutated_jungle
        minecraft:mutated_jungle_edge
        minecraft:mutated_birch_forest
        minecraft:mutated_birch_forest_hills
        minecraft:mutated_roofed_forest
        minecraft:mutated_redwood_taiga
        minecraft:mutated_redwood_taiga_hills
        minecraft:mutated_extreme_hills_with_trees
        minecraft:mutated_savanna
        minecraft:mutated_savanna_rock
     >

    # Maximum Y level for rock generation (1-255)
    S:Rock_Gen_Max_Y=140

    # Minimum Y level for rock generation (1-255)
    S:Rock_Gen_Min_Y=55

    # Enable Ruby Generation (y/n)
    B:Ruby_Generation=true

    # Number of attempts to generate an element (double num) [default: 2.0]
    S:Stick_Gen_Attempts=2.0

    # List of biome IDs (e.g., minecraft:plains) where sticks generate. Empty list uses default biomes.
    S:Stick_Gen_Biomes <
        minecraft:forest
        minecraft:taiga
        minecraft:swampland
        minecraft:river
        minecraft:forest_hills
        minecraft:taiga_hills
        minecraft:smaller_extreme_hills
        minecraft:jungle
        minecraft:jungle_hills
        minecraft:jungle_edge
        minecraft:birch_forest
        minecraft:birch_forest_hills
        minecraft:roofed_forest
        minecraft:redwood_taiga
        minecraft:redwood_taiga_hills
        minecraft:extreme_hills_with_trees
        minecraft:savanna
        minecraft:savanna_rock
        minecraft:mutated_forest
        minecraft:mutated_taiga
        minecraft:mutated_swampland
        minecraft:mutated_jungle
        minecraft:mutated_jungle_edge
        minecraft:mutated_birch_forest
        minecraft:mutated_birch_forest_hills
        minecraft:mutated_roofed_forest
        minecraft:mutated_redwood_taiga
        minecraft:mutated_redwood_taiga_hills
        minecraft:mutated_extreme_hills_with_trees
        minecraft:mutated_savanna
        minecraft:mutated_savanna_rock
     >

    # Maximum Y level for stick generation (1-255)
    S:Stick_Gen_Max_Y=120

    # Minimum Y level for stick generation (1-255)
    S:Stick_Gen_Min_Y=60
}


misc {
    # Enable more smelting recipes? (y/n)
    S:Better_Smelting=true

    # Explosive damage modifier. (DAMAGE * Multiplier)
    S:Explosion_Damage_Multiplier=1.5

    # Should extra drops be processed in general? (y/n)
    S:Extra_Drops_All=true

    # Should process additional drops from grass? (y/n)
    S:Extra_Drops_Grass=true

    # Will poisonous food have more violent effects? (y/n)
    S:Food_Negative_Effects=true

    # Can copper coins be crafted at the MoneyTable from a copper plate (y/n)
    B:Money_Can_Craft=true

    # Can coins be melted down (y/n)
    B:Money_Can_Smelt=true

    # Will raw meat be less edible? (y/n)
    S:Raw_Meat_Negative_Effects=true

    # Should to register more fuels for furnace? (y/n)
    S:Register_Extra_Fuels=true

    # Register mined(trapped) blocks? (y/n)
    S:doRegisterMinedBlocks=true
}


mods {
    # Removes a Gravestone paper when dropped by a player
    S:Remove_Gravestone_Note=true

    # Remove trades of Engineer villager (MoreElectricTools)
    S:Remove_METS_engineer=true
}


world {
    # Allow access to the Depths via Bedrock? (y/n)
    S:Enable_Depths_Dim_Bedrock_TP=true

    # Should register Depths dimension? (y/n)
    S:Enable_Depths_Dimension=true

    # Enable Grass growth? (y/n)
    S:GG_ENABLED=true

    # Maximum operations per tick (1-999)
    S:GG_MAX_PER_TICK=2

    # Maximum grass density (1-25)
    S:Grass_Density=15

    # Maximum delay (ticks) for grass regrowth (10-1728000)
    S:Grass_Growth_MAX_Delay=30000

    # Minimum delay (ticks) for grass regrowth (10-1728000)
    S:Grass_Growth_MIN_Delay=9000
}


