# Configuration file

general {

    ##########################################################################################################
    # client
    #--------------------------------------------------------------------------------------------------------#
    # Values in this category are client-side only, and have no effects on server-side.
    ##########################################################################################################

    client {
        # The delay before activating the slider, in milliseconds.
        # Min: 1
        # Max: 2147483647
        I:delay=150

        # Whether to enable this mod on your client.
        B:enabled=true

        # Maximum length of the slider. Useful when having a mod increasing stack size limits
        # Min: 1
        # Max: 2147483647
        I:maxSize=256

        # Minimum length of the slider
        # Min: 1
        # Max: 2147483647
        I:minSize=24

        # Scale of the slider. 
        # Slider length = stack count * scale. 
        # Min: 1
        # Max: 2147483647
        I:scale=2

        colors {

            fgcolor {
                # Min: 0
                # Max: 255
                I:alpha=255

                # Min: 0
                # Max: 255
                I:blue=0

                # Min: 0
                # Max: 255
                I:green=176

                # Min: 0
                # Max: 255
                I:red=0
            }

            bgcolor {
                # Min: 0
                # Max: 255
                I:alpha=255

                # Min: 0
                # Max: 255
                I:blue=32

                # Min: 0
                # Max: 255
                I:green=32

                # Min: 0
                # Max: 255
                I:red=32
            }

            bordercolor {
                # Min: 0
                # Max: 255
                I:alpha=255

                # Min: 0
                # Max: 255
                I:blue=0

                # Min: 0
                # Max: 255
                I:green=0

                # Min: 0
                # Max: 255
                I:red=0
            }

        }

    }

}


