#EasyLAN configuration
#Fri Oct 31 13:31:24 KRAT 2025
spawn-Animals=true
BanCommand=true
Motd=AstroTech Default Server
online-mode=false
spawn-NPCs=true
pvp=true
Port=25565
Http-Api=false
whiteList=false
allow-Flight=true
MaxPlayer=4
SaveCommand=false
OpCommand=true
Lan-output=true
