# Configuration file

appearance {
    I:guiBackgroundAlpha=50
    I:highlightColorAlpha=128
    I:highlightColorB=255
    I:highlightColorG=255
    I:highlightColorR=0
}


general {
    B:debugMode=false
    I:highlightDuration=10
    I:searchRange=8
}


