# Configuration file

general {
    # Fireproof Items will gain immunity to any damage source added here.
    # Example:
    #   cactus
    #   lightningBolt
    S:damageTypes <
        lightningBolt
     >

    # Enables the Fireproof item enchant.
    B:enableFireproofEnchant=true

    # Set to true to make Fireproof Items immune to explosions.
    B:explosionImmunity=true

    # The maximum enchantability required to see the fireproof enchant.
    # Min: 0
    # Max: 100
    I:fireproofEnchantMaxEnchantability=30

    # The minimum enchantability required to see the Fireproof enchant.
    # Min: 0
    # Max: 100
    I:fireproofEnchantMinEnchantability=12

    # Items that will be considered fireproof.
    # Format: <modid>:<itemid>:[meta]=[decayrate]
    #   modid:itemid (required) - the item id
    #   meta (optional) - numerical meta value
    #   decayrate (optional) - How fast the item decays per tick in lava
    # Examples:
    #   minecraft:stick
    #   minecraft:stick:0
    #   minecraft:stick=5
    #   minecraft:stick:0=5
    S:fireproofItems <
        minecraft:diamond
        minecraft:diamond_ore
        minecraft:diamond_block
        thermalfoundation:material:26
        thermalfoundation:material:16
        astrotweaks:some_diamond_shards
        minecraft:obsidian
        minecraft:bedrock
        minecraft:dragon_egg
        minecraft:ender_chest
        minecraft:nether_star
        astrotweaks:netherstar_block
        minecraft:quartz
        astrotweaks:compressed_quartz
        astrotweaks:double_compressed_quartz
        astrotweaks:triple_compressed_quartz
        minecraft:prismarine_shard
        minecraft:prismarine_crystals
        minecraft:blaze_powder
        minecraft:blaze_rod
        astrotweaks:some_blaze_rods
        minecraft:magma_cream
        astrotweaks:some_magma_cream
        minecraft:magma
        reactor_stuff:gem_blazonium
        reactor_stuff:blazonium_nugget
        reactor_stuff:blazonium_fuel
        portalgun:item_miniature_black_hole
        betterbuilderswands:wandunbreakable:12
        betterbuilderswands:wandunbreakable:13
        betterbuilderswands:wandunbreakable:14
        advanced_solar_panels:crafting:1
        advanced_solar_panels:crafting
        advanced_solar_panels:crafting:2
        mets:neutron_plate
        gregtech:meta_item_1:282
        gregtech:meta_item_1:283
        
        draconicevolution:draconium_block
        draconicevolution:draconium_block:1
        draconicevolution:draconic_block
        draconicevolution:infused_obsidian
        draconicevolution:energy_crystal
        draconicevolution:energy_crystal:1
        draconicevolution:energy_crystal:2
        draconicevolution:energy_crystal:3
        draconicevolution:energy_crystal:4
        draconicevolution:energy_crystal:5
        draconicevolution:energy_crystal:6
        draconicevolution:energy_crystal:7
        draconicevolution:energy_crystal:8
        draconicevolution:draconium_ingot
        draconicevolution:draconic_ingot
        draconicevolution:wyvern_core
        draconicevolution:awakened_core
        draconicevolution:chaotic_core
        draconicevolution:wyvern_energy_core
        draconicevolution:draconic_energy_core
        draconicevolution:dragon_heart
        draconicevolution:nugget
        draconicevolution:nugget:1
        draconicevolution:crystal_binder
        ironchest:iron_chest:2
        ironchest:iron_chest:5
        ironchest:iron_chest:6
        ae2enhanced:differential_form_stabilizer
        ae2enhanced:stable_spacetime_manifold
        ae2enhanced:conformal_invariant_charge
        
        eternalsingularity:eternal_singularity
        
        avaritia:resource
        avaritia:resource:1
        avaritia:resource:2
        avaritia:resource:3
        avaritia:resource:4
        avaritia:endest_pearl
        avaritia:extreme_crafting_table
        avaritia:block_resource
        avaritia:block_resource:1
        avaritia:block_resource:2
        packagedavaritia:extreme_crafter
        fluxnetworks:flux
        fluxnetworks:fluxblock
        
        galacticraftplanets:item_basic_mars:2
        galacticraftplanets:item_basic_mars:5
        galacticraftplanets:item_basic_asteroids:5
        galaxyspace:hdp
        galaxyspace:hdp:1
        galaxyspace:hdp:2
        galaxyspace:gs_basic:12
        galacticraftplanets:basic_item_venus:2
        galacticraftplanets:basic_item_venus:4
        
        astrotweaks:unstable_void_core
        astrotweaks:void_matter
        astrotweaks:void_antimatter
        astrotweaks:u_destroyer_item
        astrotweaks:u_destroyer_block
        astrotweaks:u_killer_block
        astrotweaks:ark
        astrotweaks:ark_resonator
        astrotweaks:qtp_supressor
        astrotweaks:qm_block
        
        astrotweaks:crystal_sword
        astrotweaks:crystal_pickaxe
        astrotweaks:crystal_axe
        astrotweaks:crystal_shovel
        astrotweaks:crystal_hoe
        astrotweaks:crystal_multitool
        astrotweaks:neutronium_sword
        astrotweaks:neutronium_pickaxe
        astrotweaks:neutronium_axe
        astrotweaks:neutronium_shovel
        astrotweaks:neutronium_hoe
        astrotweaks:neutronium_multitool
        
        astrotweaks:neutronium_singularity
        astrotweaks:infinity_singularity
        
     >
}


