# Configuration file

general {

    "client config" {
        # Ore Prefixes used in substitutions so they will not work if ore prefix is not exposed
        S:"Ore Prefix To Expose" <
            circuit
         >
    }

    "multiblock parts config" {
        # Slots amoun in ME Assembly Line Bus
        # Default: 36
        # Min: 1
        # Max: 2147483647
        I:"Pattern Handler Size"=36
    }

    "gui config" {
        # 0 = detect automatically
        # Default: 9
        # Min: 0
        # Max: 16
        I:"Slots per line in pattern grid"=9

        # Default: 8
        # Min: 1
        # Max: 16
        I:"Slots per line in substitution grid"=8
    }

}


