# Configuration file

general {
    # How much Forge Energy equals 1 AE power. Default: 2 FE = 1 AE
    D:"FE per AE"=2.0

    # Maximum FE extracted from AE2 network per tick per machine. 0 = unlimited
    I:"Max FE per tick from AE"=0
}


