# Configuration file

"gamestages mappings" {
    S:easy <
     >
    S:hard <
     >
    S:normal <
     >
}


general {
    S:acceptedModes <
        easy
        normal
        hard
     >
    S:packMode=normal
}


