# Configuration file

general {
    # Time interval to clean cached invalid UUIDs, in seconds
    # Min: 1
    # Max: 2147483647
    I:cleanInterval=3600

    # Expiration time for cached invalid UUIDs, in seconds
    # Set to 0 to disable caching
    # Min: 0
    # Max: 2147483647
    I:expirationInterval=21600

    # Log cached invalid UUIDs
    B:logUUIDs=false
}


