# Configuration file

general {
    # When true will always fell trees.
    B:"Disable Crouch"=false

    # Enable dynamic break speed based on tree size.
    B:"Dynamic Break Speed"=true

    # Requires crouch for tree felling.
    B:"Invert Crouch"=false
}


integrations {
    # List of items not considered to be axes. 
    # Example: "minecraft:iron_axe"
    S:"Axe Blacklist" <
        botania:terraaxe
        enderio:item_dark_steel_axe
        enderio:item_end_steel_axe
     >

    # List of items considered to be axes. 
    # Example: "minecraft:iron_axe"
    S:"Axe Whitelist" <
		minecraft:iron_axe
        minecraft:diamond_axe
		astrotweaks:ruby_axe
		astrotweaks:emerald_axe
		astrotweaks:brass_axe
		astrotweaks:iron_saw
		astrotweaks:diamond_saw
		astrotweaks:bronze_saw
		astrotweaks:steel_saw
		appliedenergistics2:certus_quartz_axe
		appliedenergistics2:nether_quartz_axe
		astrotweaks:crystal_axe
		astrotweaks:neutronium_axe
		mocreatures:silveraxe
		futuremc:netherite_axe
		galacticraftcore:steel_axe
		galacticraftplanets:desh_axe
		galacticraftplanets:titanium_axe
		galaxyspace:cobalt_axe
		gregtech:axe
		gregtech:chainsaw_lv
		nuclearcraft:axe_tough
		nuclearcraft:axe_hard_carbon
		nuclearcraft:axe_boron_nitride
		pyrotech:crude_axe
		pyrotech:bone_axe
		pyrotech:bone_axe_durable
		pyrotech:flint_axe
		pyrotech:flint_axe_durable
		pyrotech:redstone_axe
		pyrotech:quartz_axe
		pyrotech:obsidian_axe
		qmd:axe_tungsten_carbide
		gravisuite:advancedchainsaw
		gregtech:saw
		ic2:chainsaw
		techguns:chainsaw
		thermalfoundation:tool.axe_nickel
		thermalfoundation:tool.axe_steel
		thermalfoundation:tool.axe_invar
		thermalfoundation:tool.axe_constantan
        immersiveengineering:axe_steel
        thermalfoundation:tool.axe_copper
        thermalfoundation:tool.axe_tin
        thermalfoundation:tool.axe_silver
        thermalfoundation:tool.axe_aluminum
        thermalfoundation:tool.axe_nickel
        thermalfoundation:tool.axe_platinum
        thermalfoundation:tool.axe_steel
        thermalfoundation:tool.axe_electrum
        thermalfoundation:tool.axe_invar
        thermalfoundation:tool.axe_bronze
        thermalfoundation:tool.axe_constantan
     >

    # List of blocks not to be considered as logs.
    # Example: "minecraft:log" or "minecraft:log:0"
    S:"Block Blacklist" <
     >

    # List of blocks considered to be logs.
    # BExample: "minecraft:log" or "minecraft:log:0"
    S:"Block Whitelist" <
     >

    # List of blocks not considered to be leaves.
    # Example: "minecraft:log" or "minecraft:log:0"
    S:"Leaf Blacklist" <
     >

    # List of blocks considered to be leaves. 
    # Example: "minecraft:log" or "minecraft:log:0"
    S:"Leaf Whitelist" <
        harvestcraft:pamdate
        harvestcraft:pampistachio
        harvestcraft:pampapaya
        harvestcraft:pamwalnut
        harvestcraft:pamcherry
        harvestcraft:pamfig
        harvestcraft:pamdragonfruit
        harvestcraft:pamapple
        harvestcraft:pamlemon
        harvestcraft:pampear
        harvestcraft:pamolive
        harvestcraft:pamgrapefruit
        harvestcraft:pampomegranate
        harvestcraft:pamcashew
        harvestcraft:pamvanilla
        harvestcraft:pamstarfruit
        harvestcraft:pambanana
        harvestcraft:pamplum
        harvestcraft:pamavocadu
        harvestcraft:pampecan
        harvestcraft:pampistachio
        harvestcraft:pamlime
        harvestcraft:pampeppercorn
        harvestcraft:pamalmond
        harvestcraft:pamgooseberry
        harvestcraft:pampeach
        harvestcraft:pamchestnut
        harvestcraft:pamcoconut
        harvestcraft:pammango
        harvestcraft:pamapricot
        harvestcraft:pamorange
        harvestcraft:pampersimmon
        harvestcraft:pamnutmeg
        harvestcraft:pamdurian
        harvestcraft:pamcinnamon
        harvestcraft:pammaple
        harvestcraft:pampaperbark
     >
}


tweaks {
    # The maximum tree size that can be cut down at once.
    # Trees larger than this value will not be felled.
    I:"Max Tree Size"=160

    # Tool damage multiplier for breaking multiple blocks.
    # Each block broken is multiplied by this value.
    D:"Tool Damage"=0.8
}


