# Configuration file

general {
    # Allows a player to teleport to a located structure when in creative mode, opped, or in cheat mode.
    B:allowTeleport=true

    # The number of successful searches before the compass breaks. Set to 0 to disable durability.
    # Min: 0
    # Max: 10000
    I:compassDurability=0

    # The default number of XP levels consumed when searching for a structure.
    # Min: 0
    # Max: 3
    I:defaultXpLevels=0

    # Allows players to view the precise coordinates and distance of a located structure on the HUD.
    B:displayCoordinates=true

    # Displays Explorer's Compass information on the HUD even while chat is open.
    B:displayWithChatOpen=true

    # The maximum number of times a player can search for the next instance of a located structure, excluding already-found locations. Set to 0 to disable searching for additional structure instances.
    # Min: 0
    # Max: 10000
    I:maxNextSearches=100

    # The maximum radius that will be searched for a structure. Raising this value can increase search time.
    # Min: 0
    # Max: 1000000
    I:maxRadius=10000

    # The maximum number of search samples to be taken.
    # Min: 0
    # Max: 100000000
    I:maxSamples=100000

    # The line offset for information rendered on the HUD.
    # Min: 0
    # Max: 50
    I:overlayLineOffset=1

    # The side for information rendered on the HUD.
    # Valid values:
    # LEFT
    # RIGHT
    S:overlaySide=LEFT

    # Per-structure XP costs in the format structure_id,num_levels.
    S:perStructureXpLevels <
     >

    # A list of structures that the compass will not display in the GUI and will not be able to search for.
    S:structureBlacklist <
     >

    # Attempts to translate structure names before fixing the unlocalized names.
    B:translateStructureNames=true
}


