# Configuration file

armor_and_tools {
    # The amount of EU in tick consumed while XP capitalization mode is on [range: 1 ~ 2147483647, default: 75000]
    I:CapitalCostEU=75000

    # The number of ticks after which XP capitalization occurs [range: 1 ~ 2147483647, default: 1200]
    I:CapitalTicks=1200

    # Enables displaying some info of Lucky Vajra, Portable Electric Charger and Quantum Multi Chestplate on the screen
    B:Display=true

    # The level of Fortune enchantment for Lucky Vajra [range: 1 ~ 2147483647, default: 6]
    I:Fortune_Level=6

    # Haste effect amplifier of Quantum Multi Chestplate
    I:Haste_amplifier=2

    # Healing effect amplifier of Quantum Multi Chestplate
    I:Heal_amplifier=2

    # Jump effect amplifier of Quantum Multi Chestplate
    I:Jump_amplifier=1

    # Luck effect amplifier of Quantum Multi Chestplate
    I:Luck_amplifier=1

    # Maximum charge of Quantum Multi Chestplate
    D:MaxChargeChestplate=5.0E9

    # Maximum charge of Lucky Vajra
    I:MaxChargeVajra=60000000

    # XP capitalization percentage value [range: 1 ~ 4, default: 1]
    I:Percent=1

    # Radius of wireless charging and healing of Quantum Multi Chestplate (blocks) [range: 1 ~ 2147483647, default: 10]
    I:Radius=10

    # Self-recharge rate of Quantum Multi Chestplate (EU/t) [range: 1 ~ 2147483647, default: 4]
    I:RechargeSpeed=4

    # Resistance effect amplifier of Quantum Multi Chestplate
    I:Resistance_amplifier=1

    # Speed effect amplifier of Quantum Multi Chestplate
    I:Speed_amplifier=1

    # Amount of electrostatic charging of ender boots
    D:Static_charge=16.0

    # Strength effect amplifier of Quantum Multi Chestplate
    I:Strength_amplifier=1

    # Enables chat messages of Lucky Vajra
    B:VajraMsgs=true

    # X position of Vajra charge percentage inscription on the screen
    I:X_pos=1

    # X position of rendering Quantum Multi Chestplate on the screen [range: 1 ~ 2147483647, default: 1]
    I:X_pos_armor=1

    # Enable experience capitalization feature for Quantum Multi Chestplate [default: true]
    B:XpCapital=true

    # Y position of Vajra charge percentage inscription on the screen
    I:Y_pos=1

    # Y position of rendering Quantum Multi Chestplate on the screen [range: 1 ~ 2147483647, default: 1]
    I:Y_pos_armor=1
}


other {
    # Maximum radius of Remote Item Collector
    I:Collector_max_radius=10

    # EU stolen from armor part when hit by Quantum Energy Absorption Sword [range: 1 ~ 2147483647, default: 100000]
    I:EU_Stolen=100000

    # Required EU energy for 1 XP generation [range: 1 ~ 2147483647, default: 1000000]
    I:EU_for_XP=1000000

    # Limit of XP stored in Experience Transmitter [range: 1 ~ 2147483647, default: 20000000]
    I:Maximum_XP=20000000

    # Maximum radius of Vacuum Player Chest
    I:Vacuum_max_radius=10

    # The tier of Experience Transmitter [range: 1 ~ 2147483647, default: 9]
    I:XP_Tier=9
}


receiver {
    # Maximum storage of Wireless Receiver
    D:MaximumStorage1=5.0E7

    # Maximum storage of Advanced Wireless Receiver
    D:MaximumStorage2=5.0E8

    # Maximum storage of Ultimate Wireless Receiver
    D:MaximumStorage3=1.0E9

    # Maximum storage of Quantum Wireless Reciever
    D:MaximumStorage4=2.0E9

    # Tier of Wireless Receiver
    I:Tier1=4

    # Tier of Advanced Wireless Receiver
    I:Tier2=7

    # Tier of Ultimate Wireless Receiver
    I:Tier3=10

    # Tier of Quantum Wireless Reciever
    I:Tier4=11
}


solars {
    I:AbsorbtionPanelGenDay=262144
    I:AbsorbtionPanelGenNight=262144
    I:AbsorbtionPanelStorage=20000000
    I:AbsorbtionPanelTier=8
    I:AbsorbtionPanelWirelessTransmitLimit=262144
    I:AdvPanelGenDay=16
    I:AdvPanelGenNight=8
    I:AdvPanelStorage=4096
    I:AdvPanelTier=1
    I:AdvPanelWirelessTransmitLimit=16

    # Day energy generation of Solar Machines Charger
    D:DayPower=2048.0
    I:HybridPanelGenDay=64
    I:HybridPanelGenNight=32
    I:HybridPanelStorage=10000
    I:HybridPanelTier=2
    I:HybridPanelWirelessTransmitLimit=64
    I:NeutronPanelGenDay=3145728
    I:NeutronPanelGenNight=3145728
    I:NeutronPanelStorage=400000000
    I:NeutronPanelTier=10
    I:NeutronPanelWirelessTransmitLimit=3145728

    # Night energy generation of Solar Machines Charger
    D:NightPower=512.0
    I:PhotonicPanelGenDay=786432
    I:PhotonicPanelGenNight=786432
    I:PhotonicPanelStorage=80000000
    I:PhotonicPanelTier=9
    I:PhotonicPanelWirelessTransmitLimit=786432
    I:ProtonPanelGenDay=16384
    I:ProtonPanelGenNight=6144
    I:ProtonPanelStorage=5000000
    I:ProtonPanelTier=6
    I:ProtonPanelWirelessTransmitLimit=16384
    I:QuantumPanelGenDay=1024
    I:QuantumPanelGenNight=512
    I:QuantumPanelStorage=200000
    I:QuantumPanelTier=4
    I:QuantumPanelWirelessTransmitLimit=1024
    D:SF_Gen_Day=3.0
    D:SF_Gen_Night=1.0

    # Day energy generation of Solar Machines
    D:S_Mach_Gen_Day=3.0

    # Night energy generation of Solar Machines
    D:S_Mach_Gen_Night=1.0
    I:SingularPanelGenDay=65536
    I:SingularPanelGenNight=65536
    I:SingularPanelStorage=10000000
    I:SingularPanelTier=7
    I:SingularPanelWirelessTransmitLimit=65536
    I:SpecrtalPanelTier=5
    I:SpecrtalPanelWirelessTransmitLimit=4096
    I:SpectralPanelGenDay=4096
    I:SpectralPanelGenNight=1344
    I:SpectralPanelStorage=500000
    I:UltimatePanelGenDay=256
    I:UltimatePanelGenNight=128
    I:UltimatePanelStorage=100000
    I:UltimatePanelTier=3
    I:UltimatePanelWirelessTransmitLimit=256

    # Day XP generation of Solar XP Transmitter
    D:XPT_Gen_Day=512.0

    # Night XP generation of Solar XP Transmitter
    D:XPT_Gen_Night=128.0
}


wireless_settings {
    # Maximum energy capacity of EU Point
    D:Capacity_1=4.0E7

    # Maximum energy capacity of Advanced EU Point
    D:Capacity_2=1.6E8

    # The tier of Energy Dispatcher [range: 1 ~ 2147483647, default: 10]
    I:EnDisp_Tier=10

    # Capacity of FluidTank of Tesseract
    I:FluidCap_T=20000

    # The tier of Wireless Machines Charger [range: 1 ~ 2147483647, default: 10]
    I:MCh_Tier=10

    # Maximum Storage of Wireless Machines Charger
    D:MaxCharge_MCh=1.0E9

    # Maximum stored energy of Wireless Chargepad
    D:MaxEnergy_ChP=2.0E8

    # Maximum stored energy of Tesseract
    D:MaxEnergy_T=3.2E8

    # Wireless player charger max EU storage
    D:MaxStorageEU=5.0E8

    # Maximum Storage of Energy Dispatcher
    D:MaxStorage_EnDisp=1.0E12
    I:RF_Max=2000000000

    # Wireless player charger tier
    I:Tier=9

    # Tier of EU Point
    I:Tier_1=4

    # Tier of Advanced EU Point
    I:Tier_2=8

    # Limit of wirelessly sending energy for EU Point 1
    D:WirelessLimit_1=16384.0

    # Limit of wirelessly sending energy for EU Point 2
    D:WirelessLimit_2=131072.0

    # Default amount of wirelessly sending energy for Tesseract
    D:WirelessTransfer_T=8192.0
}


