# Configuration file

##########################################################################################################
# ore
#--------------------------------------------------------------------------------------------------------#
# Enable if Waifuium should spawn
##########################################################################################################

ore {
    # enables the spawn of Waifus with Waifuium [default: true]
    B:"Can Waifus be summoned with Waifuium"=false

    # enables the spawn of Waifuium [default: true]
    B:"Spawn Waifuium"=false

    # Sets how common Waifuium is [range: 0 ~ 100, default: 7]
    I:"Waifuium chance"=0
}


##########################################################################################################
# other
#--------------------------------------------------------------------------------------------------------#
# Other Waifu Settings
##########################################################################################################

other {
    # Changes the color of heart flash when healed by Aqua,Lifesteal Enchantment or Healing effect.Disable this if you have a mod installed that changes the hearts render to avoid visual glitches. [default: true]
    B:"Custom Heart Render"=true

    # Every Waifu will have its own height.Waifus that are taller than 2 blocks will crouch to fit into 2 block tall gaps [default: true]
    B:"Waifu Unique Height"=true

    # If true some Waifus will have special properties [default: true]
    B:"Waifu Uniqueness"=true
}


##########################################################################################################
# spawning
#--------------------------------------------------------------------------------------------------------#
# Customize natural spawning of Waifus
##########################################################################################################

spawning {
    # allows Waifus to spawn naturally [default: true]
    B:"Can Waifus spawn naturally"=true

    # Sets the cooldown after a successful waifu spawn(in ticks) [range: 0 ~ 999999999, default: 72000]
    I:Cooldown=144000

    # Increases Spawn Chance and lowers Spawn Distance for every failed Waifu Spawn.Only applies if there are very few Waifus currently alive in the world [default: true]
    B:"Increase Spawning of Waifus"=true

    # Sets the maximum amount of blocks of how far away waifus can spawn from the player [range: 0 ~ 3000, default: 175]
    I:"Maximum Spawn Distance"=175

    # Sets the maximum amount of time for a Waifu to spawn(in ticks) [range: 0 ~ 999999999, default: 144000]
    I:"Maximum Spawn Time"=216000

    # Sets the minimum amount of blocks of how far away waifus can spawn from the player.If this Value is higher than the Maximum Spawn Distance the game will crash [range: 0 ~ 1000, default: 90]
    I:"Minimum Spawn Distance"=90

    # Sets the minimum amount of time for a Waifu to spawn.If this Value is higher than the Maximum Spawn time the game will crash.(in ticks) [range: 0 ~ 999999999, default: 0]
    I:"Minimum Spawn Time"=36000

    # Sets the chance for a Waifu to spawn(Divide 1 by the chance to get the chance in percentage) [range: 1 ~ 2000, default: 6]
    I:SpawnChance=6
}


