# Configuration file

blocks {
    B:advanced_crafting_table=true
    B:architect=false
    B:assembly_table=true
    B:autoworkbench_item=true
    B:builder=false
    B:chute=true
    B:decorated=false
    B:distiller=true
    B:engine=false
    B:filler=false
    B:filtered_buffer=true
    B:flood_gate=true
    B:frame=true
    B:heat_exchange=true
    B:integration_table=true
    B:laser=true
    B:library=true
    B:marker_path=true
    B:marker_volume=true
    B:mining_well=true
    B:pipe_holder=true
    B:pump=true
    B:quarry=true
    B:replacer=false
    B:spring=false
    B:tank=true
    B:tube=true
    B:water_gel=false
    B:zone_planner=false
}


engines {
    B:"buildcraftcore:engine/creative"=false
    B:"buildcraftcore:engine/iron"=false
    B:"buildcraftcore:engine/rf"=false
    B:"buildcraftcore:engine/stone"=false
    B:"buildcraftcore:engine/wood"=false
}


items {
    B:filler_planner=true
    B:fragile_fluid_shard=false
    B:gate_copier=true
    B:gear_diamond=false
    B:gear_gold=false
    B:gear_iron=false
    B:gear_stone=false
    B:gear_wood=false
    B:gel=false
    B:glob_of_oil=false
    B:list=true
    B:map_location=true
    B:marker_connector=true
    B:paintbrush=true
    B:plug_blocker=true
    B:plug_facade=false
    B:plug_gate=true
    B:plug_lens=true
    B:plug_light_sensor=true
    B:plug_power_adaptor=true
    B:plug_pulsar=true
    B:plug_timer=true
    B:redstone_chipset=true
    B:schematic_single=true
    B:snapshot=true
    B:volume_box=false
    B:water_gel_spawn=false
    B:waterproof=true
    B:wire=true
    B:wrench=true
}


